<h1>employee-details works!</h1>
<table align="center" border="2">
    <tr>
        <th>Employee Id</th>
        <th>Name</th>
        <th>Areaname</th>
        <th>cityname</th>
        <th>Mobile no</th>
    </tr>

    <tr>
        <td>{{emp1.empId}}</td>
        <td>{{emp1.empName}}</td>
        <td>{{emp1.empAddr.areaname}}</td>
        <td>{{emp1.empAddr.cityname}}</td>
        <td>{{emp1.empMobNo}}</td>
    </tr>

    <tr>
        <td>{{emp2.empId}}</td>
        <td>{{emp2.empName}}</td>
        <td>{{emp2.empAddr.areaname}}</td>
        <td>{{emp2.empAddr.cityname}}</td>
        <td>{{emp2.empMobNo}}</td>
    </tr>
</table>